//  Colors

.white				           				{color: $white;}
.dark				            				{color: $dark;}
.black			                		{color: $black;}

.royal                          {color: $royal;}
.royal-lighter                  {color: $royal-lighter;}
.royal-light                    {color: $royal-light;}
.royal-darker                   {color: $royal-dark;}
.royal-darke                    {color: $royal-darker;}

.red                            {color: $red;}
.red-lighter                    {color: $red-lighter;}
.red-light                      {color: $red-light;}
.red-darker                     {color: $red-dark;}
.red-darke                      {color: $red-darker;}

.cyan                           {color: $cyan;} 
.cyan-lighter                   {color: $cyan-lighter;} 
.cyan-light                     {color: $cyan-light;} 
.cyan-darker                    {color: $cyan-dark;} 
.cyan-darke                     {color: $cyan-darker;} 

.green                          {color: $green;}
.green-lighter                  {color: $green-lighter;}
.green-light                    {color: $green-light;}
.green-darker                   {color: $green-dark;}
.green-darke                    {color: $green-darker;}

.grass                          {color: $grass;} 
.grass-lighter                  {color: $grass-lighter;} 
.grass-light                    {color: $grass-light;} 
.grass-darker                   {color: $grass-dark;} 
.grass-darke                    {color: $grass-darker;} 

.blue                           {color: $blue;} 
.blue-lighter                   {color: $blue-lighter;} 
.blue-light                     {color: $blue-light;} 
.blue-darker                    {color: $blue-dark;} 
.blue-darke                     {color: $blue-darker;}

.orange                         {color: $orange;} 
.orange-lighter                 {color: $orange-lighter;} 
.orange-light                   {color: $orange-light;} 
.orange-darker                  {color: $orange-dark;} 
.orange-darke                   {color: $orange-darker;}

.purple                         {color: $purple;} 
.purple-lighter                 {color: $purple-lighter;} 
.purple-light                   {color: $purple-light;} 
.purple-darker                  {color: $purple-dark;} 
.purple-darke                   {color: $purple-darker;}

.smoke                          {color: $smoke;} 	
.smoke-lighter                  {color: $smoke-lighter;} 	
.smoke-light                    {color: $smoke-light;} 	
.smoke-dark                     {color: $smoke-dark;} 	
.smoke-darker                   {color: $smoke-darker;} 

.white-smoke                    {color: $white-smoke;} 

//  Backgrouns colors

.bg-royal                       {background-color: $royal;}
.bg-royal-lighter               {background-color: $royal-lighter;}
.bg-royal-light                 {background-color: $royal-light;}
.bg-royal-dark                  {background-color: $royal-dark;}
.bg-royal-darker                {background-color: $royal-darker;}

.bg-red                         {background-color: $red;} 
.bg-red-lighter                 {background-color: $red-lighter;} 
.bg-red-light                   {background-color: $red-light;} 
.bg-red-dark                    {background-color: $red-dark;} 
.bg-red-darker                  {background-color: $red-darker;} 

.bg-cyan                        {background-color: $cyan;}
.bg-cyan-lighter                {background-color: $cyan-lighter;}
.bg-cyan-light                  {background-color: $cyan-light;}
.bg-cyan-dark                   {background-color: $cyan-dark;}
.bg-cyan-darker                 {background-color: $cyan-darker;}

.bg-green                       {background-color: $green;}
.bg-green-lighter               {background-color: $green-lighter;}
.bg-green-light                 {background-color: $green-light;}  
.bg-green-darker                {background-color: $green-darker;}
.bg-grass                       {background-color: $grass;} 
.bg-grass-lighter               {background-color: $grass-lighter;} 
.bg-grass-light                 {background-color: $grass-light;} 
.bg-grass-dark                  {background-color: $grass-dark;} 
.bg-grass-darker                {background-color: $grass-darker;} 

.bg-blue                        {background-color: $blue;} 
.bg-blue-lighter                {background-color: $blue-lighter;} 
.bg-blue-light                  {background-color: $blue-light;} 
.bg-blue-dark                   {background-color: $blue-dark;}
.bg-blue-darker                 {background-color: $blue-darker;}

.bg-orange                      {background-color: $orange;} 	
.bg-orange-lighter              {background-color: $orange-lighter;} 	
.bg-orange-light                {background-color: $orange-light;} 	
.bg-orange-dark                 {background-color: $orange-dark;}
.bg-orange-darker               {background-color: $orange-darker;}

.bg-purple                      {background-color: $purple;} 
.bg-purple-lighter              {background-color: $purple-lighter;} 
.bg-purple-light                {background-color: $purple-light;} 
.bg-purple-dark                 {background-color: $purple-dark;} 
.bg-purple-darker               {background-color: $purple-darker;} 

.bg-smoke                       {background-color: $smoke;}
.bg-smoke-lighter               {background-color: $smoke-lighter;}
.bg-smoke-light                 {background-color: $smoke-light;}
.bg-smoke-dark                  {background-color: $smoke-dark;}
.bg-smoke-darker                {background-color: $smoke-darker;}

.bg-white-smoke                 {background-color: $white-smoke;} 


